<div class="modal {% if edit_mode %}active{% endif %}" id="productModal">
  <div class="modal-content">
    <a href="{% url 'inventario'%}" class="close" onclick="closeModal()">×</a>

    <h2>
      {% if edit_mode %}
        Editar producto
      {% else %}
        Nuevo producto
      {% endif %}
    </h2>

    <form method="post"
      action="{% if edit_mode %}
                {% url 'inventory_update' producto.id %}
              {% else %}
                {% url 'inventory_create' %}
              {% endif %}">

      {% csrf_token %}
      {{ form.as_p }}

      <a href="{% url 'inventario' %}" type="submit">Guardar</a>
    </form>
  </div>
</div>
