<div class="modal {% if edit_mode %}active{% endif %}" id="Modal">
  <div class="modal-content">
    <a href="{% url 'proveedores'%}" class="close" onclick="closeModal()">×</a>
    <h2>
      {% if edit_mode %}
        Editar Proveedor
      {% else %}
        Nuevo proveedor
      {% endif %}
    </h2>
    <form method="post"
      action="{% if edit_mode %}
                {% url 'proveedor_update' proveedor.id%}
              {% else %}
                {% url 'proveedor_create' %}
              {% endif %}">
      {% csrf_token %}
      {{ form.as_p }}
      <button href="{% url 'proveedores' %}" type="submit">Guardar</button>
    </form>
  </div>
</div>
