<div class="modal {% if show_mode %}active{% endif %}" id="Modal">
  <div class="modal-content">
    <a href="{% url 'proveedores' %}" class="close" onclick="closeModal()">×</a>
    <div class="modal-container">
        <h2>Detalles del proveedor </h2>

        <div class="field">
            <label for="proveedor_name"><strong>Nombre: </strong></label>
            <span id="proveedor_name">{{proveedor.name}}</span>
        </div>

        <div class="field">
            <label for="proveedor_email"><strong>Correo electrónico: </strong></label>
            <span id="producto_descripcion">{{proveedor.email}}</span>
        </div>

        <div class="field">
            <label for="proveedor_phone"><strong>Número telefónico: </strong></label>
            <span id="proveedor_phone">{{proveedor.number_phone}}</span>
        </div>

        <div class="field">
            <label for="proveedor_address"><strong>Dirección: </strong></label>
            <p id="proveedor_address">{{proveedor.address}}</p>
        </div>

        <div class="field">
            <label for="proveedor_status"><strong>Estado: </strong></label>
            <span id="proveedor_status">
              {% if proveedor.status %}
              Activo
              {% else %}
              Inactivo
              {% endif %}
            </span>
        </div>

        </div>
    </div>
  </div>
</div>
