{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cerrajeria Rapillaves</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>
<body>
    <header class="head">
        <div class="head-container">
            <button class="hamburger" onclick="toggleMenu()">Icono a futuro</button>
            <h2>imagen</h2>
            <h2>Rapillaves</h2>
        </div>

        <nav class="menu" id="menu">
            <a href="#">Inicio</a>
            <a href="{% url 'inventario'%}">Inventario</a>
            <a href="{% url 'proveedores'%}">Proveedores</a>
            <a href="{% url 'operations'%}">Operaciones</a>
        </nav>
    </header>
    <main>
        {% block content %}

        {% endblock %}
    </main>

    <footer class="footer">

    </footer>
    <script src="{% static 'js/menu.js' %}"></script>
</body>
</html>