.head{
    background-color: #FF6E00;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.hamburger{
    font-size: 28px;
    background: none;
    border: none;
    color: white;
    display: none;
}

.menu{
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
    padding: 10px;
}

.menu a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover{
    color: black;
    font-size: 1.2rem;
}




.footer{
    background-color: #FF6E00;
    width: 100%;
}

body{
    background: #fff;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 10px;
}

table{
    background-color: #747373;
    border-radius: 5px;
    border-collapse: separate;
    border-spacing: 2px;
    width: 100%;
}

th{
    background-color: #FF6E00;
    padding: 10px;
}

td{
    background-color: #FF9F55;
    padding: 5px;
}

.inventory_options{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn_actions{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.btn_add{
    border: #65D731;
    background-color: #65D731;
    border-radius: 5px;
}

.filtro_nombre{
    border: #F0F0F0 solid;
    background-color: #F0F0F0;
    border-radius: 5px;
}


/* 📱 móvil */
@media (max-width: 768px){
    .hamburger{
        display: block;
        cursor: pointer;
    }

    .head{
        position: relative;
    }

    .menu{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #FF6E00;
        flex-direction: column;
        display: none;
        z-index: 999;
    }

    .menu.active{
        display: flex;
        
    }

    .menu a{
        padding: 15px;
        border-top: 1px solid rgba(255,255,255,0.3);
    }
}



/* ===== MODAL ===== */
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.modal.active {
    display: flex;
}

/* caja */
.modal-content {
    background: white;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    border-radius: 8px;
    animation: fadeIn 0.3s ease;
}

/* cerrar */
.close {
    float: right;
    font-size: 22px;
    cursor: pointer;
}

/* animación */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
