{% extends "base.html" %}
{% block content %}
 <div class="container">
        <h1>Operaciones</h1>
    
        <div class="inventory_options">
            <div class="date_filter_container">
                <input class="date_picker" type="date">
                <p>hasta</p>
                <input class="date_picker" type="date">
            </div>
            <div class="operation_options_container">
                <a class="btn_add" onclick="open_especific_modal('sell')">Registrar venta</a>
                <a class="btn_add" onclick="open_especific_modal('devolution')">Registrar devolucion</a>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Cantidad</th>
                    <th>Producto</th>
                    <th>Total</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for operation in operations %}
                <tr>
                    <td>{{operation.operation_type}}</td>
                    <td>{{operation.quantity}}</td>
                    <td>{{operation.product.name}}</td>
                    <td>{{operation.total}}</td>
                    <td>
                        <a href="{% url 'proveedor' proveedor.id %}">
                            <i class="fa-solid fa-eye" style="color: #0a0a0a;"></i>
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">No se encuentran operaciones registradas</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% include "operations/modals/sell_register_modal.html"%}
{% include "operations/modals/devolution_register_modal.html"%}
{% endblock %}